<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BCIT Campus Map</title>
  <meta name="mapbox-token" content="<%- MAPBOX_TOKEN %>">
  <link href="/vendor/mapbox-gl/mapbox-gl.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/bcit-map.css">
</head>

<body>
  <div id="map"></div>

  <div class="map-search">
    <input id="searchInput" type="text" placeholder="Search building (e.g., SE12)">
    <button id="searchBtn">Go</button>
  </div>

  <div id="legend">
    <h4>Legend</h4>
    <p><span class="marker building"></span> Building</p>
    <p><span class="marker entrance"></span> Entrance</p>
    <p><span class="marker spot"></span> Notable Spot</p>
  </div>

  <script defer src="/vendor/mapbox-gl/mapbox-gl.js"></script>

    <!-- Provide token globally -->
  <script defer>window.MAPBOX_TOKEN = "<%- MAPBOX_TOKEN %>";</script>
  <script defer src="/js/bcit-map.js"></script>

</body>

</html>