<!DOCTYPE html>
<html lang="en">
<head>
  <head>
  <meta charset="UTF-8">
  <title>Campus Navigator</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
</head>
<body>
  <h1>Welcome to Campus Map Navigator</h1>
  <p>This is your first EJS-powered page 🚀</p>
</body>
</html>