<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('_menu', { page: 'interior' }) %>

        <h1>Multi-Floor and Multi-Building Pathfinder</h1>
        <form action="/find-path" method="post">

            <label>Start Building Code:</label>
            <input type="text" name="startBuildingCode" placeholder="ex: se06" required>

            <label>Start Room Number:</label>
            <input type="number" name="startRoom" placeholder="ex: 204" required>

            <label>Goal Building Code:</label>
            <input type="text" name="goalBuildingCode" placeholder="ex: se06" required>

            <label>Goal Room Number:</label>
            <input type="number" name="goalRoom" placeholder="ex: 102" required>

            <button type="submit">Find Path</button>
        </form>

</body>

</html>

</html>