<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <!-- Include Mapbox or Google Maps CSS if using Mapbox GL JS -->
  <!-- Example for Mapbox -->
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.20.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
  <%- include('_menu', { page: 'map' }) %>

  <main class="map-page">
    <div class="map-container" id="map">
      <!-- Interactive map will render here -->
    </div>
  </main>

  <!-- Include Mapbox or Google Maps JS -->
  <!-- Example for Mapbox -->
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.20.0/mapbox-gl.js'></script>
  <script src="/js/map.js"></script>
</body>
</html>
