body {
    font-family: sans-serif;
    margin: 40px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input,
button {
    margin-top: 10px;
    padding: 8px;
}

.floors {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

img {
    border: 2px solid #444;
    border-radius: 8px;
}